div {
    background-color: #76bddb;
}

h1 {
    color: red;
    font-size: 80px;
    font-weight: bold;
}

p {
    background-color: purple;
    border-radius: 100px;
    color: blue;
    font-size: 40px;
    font-style: italic;
}